#### 단어 수치화 BOW 방식
- 문장리스트에서 단어들의 빈도를 추출 후 빈도순으로 번호를 부여 ==> 단어 사전
- 생성된 단어 사전을 기준으로 문장을 수치화 변환

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

# 테스트 자료 준비
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]

In [20]:
### 카운트기반 단어 벡터화 인스턴스 생성
### 문장의 단어들을 나타난 빈도수에 따라서 정수 인코딩 진행
vectorizer = CountVectorizer(
    stop_words=['and', 'is', 'the']
)
X = vectorizer.fit_transform(corpus)
## 단어 사전에서 단어만 추출
vectorizer.get_feature_names_out()

array(['document', 'first', 'one', 'second', 'third', 'this'],
      dtype=object)

In [21]:
# print(X)
# X

In [22]:
print(X.toarray())

import pandas as pd

pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

[[1 1 0 0 0 1]
 [2 0 0 1 0 1]
 [0 0 1 0 1 1]
 [1 1 0 0 0 1]]

   document  first  one  second  third  this
0         1      1    0       0      0     1
1         2      0    0       1      0     1
2         0      0    1       0      1     1
3         1      1    0       0      0     1

In [13]:

vectorizer2 = CountVectorizer(analyzer='word', ngram_range=(2, 2))
X2 = vectorizer2.fit_transform(corpus)
vectorizer2.get_feature_names_out()

array(['and this', 'document is', 'first document', 'is the', 'is this',
       'second document', 'the first', 'the second', 'the third',
       'third one', 'this document', 'this is', 'this the'], dtype=object)

- TF - IDF 방식 수치화

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

vectorizer.get_feature_names_out()

array(['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third',
       'this'], dtype=object)

In [39]:
pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
doc_list=['if you take the blue pill, the story ends' ,
'if you take the red pill, you stay in Wonderland',
'if you take the red pill, I show you how deep the rabbit hole goes']
tfidf_vect = TfidfVectorizer()
feature_vect = tfidf_vect.fit_transform( doc_list )

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity(feature_vect[0], feature_vect)

array([[1.        , 0.40207758, 0.40425045]])